//.van-button,.van-button--info,.van-button--normal{
//  background-color: #fa1919;
//}
.modify.van-tabbar-item__icon{
  margin: 0;
}
.van-nav-bar{
  background-color: #ebedf0 !important;
}
.modify.van-field__label{
  width: 67px ;
}
.modify.van-field__control{
  width: 67%;
}


